body{
    background-color: aqua;
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    background-color: rgb(0, 255, 64);
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
}
.painel{
    background-color: rgb(37, 24, 226);
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    padding-left: 30px;
    margin-top: 60px;
}
#cep{
    border-radius:10px;
    height: 30px;
    text-align: center;
    
}

    