
.painel{
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin-left: auto; /*margem Esquerda*/
    margin-right: auto; /*margem Direita*/
    text-align: center;
    border-radius: 20px;
    font-family: cursive;
    background-color: rgb(39, 22, 196);
    color: white;
}

input {
    border-radius: 10px;
    height: 30px;
    width: 250px;
    text-align: center;
}

#resultado{
    font-size: 50px;
    color: red;
    font-weight: bold;
}
body{
    background-image: linear-gradient(to left,rgb(218,220,225),rgb(95,95,229));
}
.botao{
    background-color: rgb(196, 43, 56);
    border-radius: 10px;
    color:white
}
.botao:hover{
    background-color: rgb(29, 223, 39);
}
