.painel{
    border:1px solid black;
    height: 300px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    margin: 100px auto;
    font-size: 60px;
    text-align: center;
    font-family: fantasy;
    background-image: linear-gradient(rgb(34, 220, 233),rgba(168, 162, 162, 0.123));
}
body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#relogio{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    position:relative;
    margin: 50px auto;
}

#ponteiroHora{
    background-color: black;
    position: absolute;
    transform-origin: bottom center;
    width: 6px;
    height: 60px;
    top:40px;
    left:97px;
    box-shadow: 2px 2px 2px black;
}

#ponteiroMin{
    background-color:rgba(221, 23, 23, 0.788);
    position:absolute;
    transform-origin: bottom center;
    width: 4px;
    height: 90px;
    top: 10px;
    left: 98px;
    box-shadow: 2px 2px 2px black;

}
#ponteiroSeg{
    background-color: rgb(207, 196, 33);
    position: absolute;
    transform-origin: bottom center;
    width: 2px;
    height: 100px;
    top: 2px;
    left: 98px;
    box-shadow: 2px 2px 2px black;
}